<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/fittstest.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/fittstest.js"></script>
        <script>
            var circles = {{circles}};
            var inner_radius = {{inner_radius}};
            var outer_radius = {{outer_radius}};
            var mouse_speed = {{mouse_speed}};
            console.log("mouse_speed: ", mouse_speed)
            //init_game(circles, inner_radius, outer_radius, mouse_speed);
        </script>
    </head>
    <body>
        <canvas id="canvas" width=100% height=100%>
        </canvas>
    </body>
</html>