<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/homepage.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Welcome, {{id}}!</h1>
        {{{inj}}}
        <h2>What is this test?</h2>
        <p>This is a test to see how you react to varying mouse sensitivities.</p>

        <p>Please complete parts 1-5 in order (above); for each test you should aim to click the circles as quickly and accurately as possible.</p>
        <p>If you're an HCI student, this is very similar to the Fitt's Law test from class (the rounds are just a tad longer).</p>
        <p>You'll be shown a summary of your scores after each test.</p>
    </body>
</html>